DATABASE_URL=postgresql://postgres:PASSWORD@0.tcp.in.ngrok.io:17114/talenta
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4.1-mini
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=
AWS_REGION=ap-south-1
